[client]
user=root
password="{{ mysql_passord_root }}"

[mysql]
user=root
password="{{ mysql_passord_root }}"

[mysqldump]
user=root
password="{{ mysql_passord_root }}"

[mysqldiff]
user=root
password="{{ mysql_passord_root }}"
