<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> Flask App</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/config">Config</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/comment">Comment</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/messages">Messages</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>